[package]
name = "gat-algo"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0"
csv = "1.4"
gat-core = { path = "../gat-core" }
good_lp = { version = "1.14", features = ["clarabel", "coin_cbc", "highs"] }
num-complex = "0.4"
polars = { version = "0.35", features = ["lazy", "parquet", "ipc"] }
rayon = "1.7"
serde = { version = "1.0", features = ["derive"] }
