[package]
name = "gat-cli"
version = "0.1.0"
edition = "2021"

[features]
default = ["full-io"]
minimal-io = ["gat-io/minimal", "gat-ts/minimal"]
full-io = ["gat-io/full", "gat-ts/full"]

[dependencies]
gat-core = { path = "../gat-core" }
gat-io = { path = "../gat-io" }
gat-algo = { path = "../gat-algo" }
gat-ts = { path = "../gat-ts" }
gat-viz = { path = "../gat-viz" }
gat-gui = { path = "../gat-gui" }
dirs = "4"
clap = { version = "4.0", features = ["derive"] }
tracing = "0.1"
tracing-subscriber = "0.3"
anyhow = "1.0"
rayon = "1.7"
num_cpus = "1.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
uuid = { version = "1.5", features = ["v4"] }
chrono = { version = "0.4", features = ["serde"] }
sha2 = "0.10"
schemars = "0.8"
walkdir = "2"
tabwriter = "1.2"
clap_complete = "4"
ureq = "2"
zip = "0.6"

[dev-dependencies]
assert_cmd = "2"
predicates = "3"
tempfile = "3"
