[package]
name = "gat-io"
version = "0.1.3"
edition = "2021"

[features]
default = ["minimal"]
minimal = []
parquet = ["polars/parquet"]
ipc = ["polars/ipc"]
full = ["parquet", "ipc"]

[dependencies]
anyhow = "1.0"
caseformat = "0.1"
gat-core = { path = "../gat-core" }
polars = { version = "0.35", default-features = false, features = ["lazy", "csv"] }
power_flow_data = "0.1"
quick-xml = "0.31"
serde = { version = "1.0", features = ["derive"] }
sophia = "0.8"
zip = "0.6"
serde_json = "1.0"
ureq = { version = "2.10", features = ["json"] }

[dev-dependencies]
tempfile = "3"
