name: Rust CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Generate docs
      run: cargo xtask doc:all
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Run clippy
      run: cargo clippy -- -D warnings
    - name: Run fmt
      run: cargo fmt --check

  minimal:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Check minimal IO configuration
      run: cargo check -p gat-cli --no-default-features --features minimal-io
